openapi: 3.0.3
info:
  title: Console Service Admin API
  description: |
    Console BFF (Backend for Frontend) service providing unified admin management APIs.

    This service aggregates data from multiple microservices:
    - Supabase (User Authentication)
    - Billing Service (Tokens, Plans, Reports)
    - Offer Service (Offers, Bulk Operations)

    All endpoints require admin authentication.
  version: 1.0.0
  contact:
    name: AutoAds API Support
    email: support@autoads.com

servers:
  - url: https://console.autoads.com/api/v1/console
    description: Production
  - url: http://localhost:8080/api/v1/console
    description: Local Development

security:
  - BearerAuth: []

tags:
  - name: Users
    description: User management (Supabase + Billing aggregation)
  - name: Plans
    description: Subscription plan management
  - name: Tokens
    description: Token balance and rules management
  - name: Config
    description: Configuration management
  - name: API Keys
    description: API key management
  - name: Bulk Operations
    description: Bulk operations across services
  - name: Reports
    description: Report exports
  - name: Audit
    description: Audit log queries
  - name: Health
    description: Health checks

paths:
  # ==================== Users ====================
  /users:
    get:
      tags: [Users]
      summary: Get user list
      description: Aggregates user authentication data from Supabase with business data from Billing
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: User list with aggregated data
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUser'
                  total:
                    type: integer
                  page:
                    type: integer
                  perPage:
                    type: integer

  /users/{userId}:
    get:
      tags: [Users]
      summary: Get user details
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUser'

    put:
      tags: [Users]
      summary: Update user
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUser'

    delete:
      tags: [Users]
      summary: Delete user
      description: Soft deletes user across all services (Supabase, Billing, Offer)
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      responses:
        '200':
          description: User deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: deleted

  /users/{userId}/archive:
    post:
      tags: [Users]
      summary: Archive user
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: User archived

  # ==================== Plans ====================
  /plans:
    get:
      tags: [Plans]
      summary: Get plan list
      parameters:
        - name: active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Plan list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Plan'

    post:
      tags: [Plans]
      summary: Create plan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlanRequest'
      responses:
        '201':
          description: Plan created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'

  /plans/{planId}:
    get:
      tags: [Plans]
      summary: Get plan details
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Plan details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'

    put:
      tags: [Plans]
      summary: Update plan
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanRequest'
      responses:
        '200':
          description: Plan updated

    delete:
      tags: [Plans]
      summary: Delete plan (soft delete)
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Plan deleted

  # ==================== Tokens ====================
  /tokens/stats:
    get:
      tags: [Tokens]
      summary: Get token global statistics
      responses:
        '200':
          description: Token stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenStats'

  /tokens/balances:
    get:
      tags: [Tokens]
      summary: Get all user token balances
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Token balances
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserBalance'

  /tokens/topup:
    post:
      tags: [Tokens]
      summary: Top up user tokens
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                amount:
                  type: integer
                reason:
                  type: string
      responses:
        '200':
          description: Tokens topped up

  /tokens/rules:
    get:
      tags: [Tokens]
      summary: Get token consumption rules
      parameters:
        - name: active
          in: query
          schema:
            type: boolean
        - name: service
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Token rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TokenRule'

    post:
      tags: [Tokens]
      summary: Create token rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRuleRequest'
      responses:
        '201':
          description: Token rule created

  /tokens/rules/{ruleId}:
    get:
      tags: [Tokens]
      summary: Get token rule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRule'

    put:
      tags: [Tokens]
      summary: Update token rule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTokenRuleRequest'
      responses:
        '200':
          description: Token rule updated

    delete:
      tags: [Tokens]
      summary: Delete token rule (soft delete)
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token rule deleted

  # ==================== Bulk Operations ====================
  /bulk/offers/archive:
    post:
      tags: [Bulk Operations]
      summary: Bulk archive offers
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                offerIds:
                  type: array
                  items:
                    type: string
                reason:
                  type: string
      responses:
        '200':
          description: Bulk operation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationResult'

  /bulk/offers/status:
    post:
      tags: [Bulk Operations]
      summary: Bulk update offer status
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                offerIds:
                  type: array
                  items:
                    type: string
                status:
                  type: string
                  enum: [active, paused, archived]
                reason:
                  type: string
      responses:
        '200':
          description: Bulk operation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationResult'

  /bulk/tokens/topup:
    post:
      tags: [Bulk Operations]
      summary: Bulk top up tokens
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                topUps:
                  type: array
                  items:
                    type: object
                    properties:
                      userId:
                        type: string
                      amount:
                        type: integer
                reason:
                  type: string
      responses:
        '200':
          description: Bulk operation result

  # ==================== Reports ====================
  /reports/token-usage:
    get:
      tags: [Reports]
      summary: Export token usage report
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Token usage report

  /reports/offer-metrics:
    get:
      tags: [Reports]
      summary: Export offer metrics report
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly]
        - name: format
          in: query
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Offer metrics report

  # ==================== Audit ====================
  /audit:
    get:
      tags: [Audit]
      summary: Get audit logs
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: per_page
          in: query
          schema:
            type: integer
        - name: userId
          in: query
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
        - name: resource
          in: query
          schema:
            type: string
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLogEntry'
                  total:
                    type: integer

  /audit/stats:
    get:
      tags: [Audit]
      summary: Get audit statistics
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Audit stats

  /audit/{logId}:
    get:
      tags: [Audit]
      summary: Get audit log by ID
      parameters:
        - name: logId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Audit log entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogEntry'

  /audit/users/{userId}/actions:
    get:
      tags: [Audit]
      summary: Get user action summary
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User action summary

  # ==================== Health ====================
  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    UserIdPath:
      name: userId
      in: path
      required: true
      schema:
        type: string
      description: User ID

  schemas:
    AdminUser:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        role:
          type: string
        tokenBalance:
          type: integer
        planId:
          type: string
        planName:
          type: string
        createdAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time

    Plan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
        interval:
          type: string
          enum: [monthly, yearly]
        features:
          type: object
          additionalProperties: true
        tokenQuota:
          type: integer
        active:
          type: boolean
        createdAt:
          type: string
          format: date-time

    CreatePlanRequest:
      type: object
      required: [name, price, interval, tokenQuota]
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
          default: USD
        interval:
          type: string
          enum: [monthly, yearly]
        features:
          type: object
          additionalProperties: true
        tokenQuota:
          type: integer

    UpdatePlanRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
        features:
          type: object
          additionalProperties: true
        tokenQuota:
          type: integer
        active:
          type: boolean

    UpdateUserRequest:
      type: object
      properties:
        email:
          type: string
        role:
          type: string

    TokenStats:
      type: object
      properties:
        totalTopUp:
          type: integer
        totalConsumed:
          type: integer
        activeUsers:
          type: integer
        byService:
          type: object
          additionalProperties:
            type: integer

    UserBalance:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        available:
          type: integer
        reserved:
          type: integer
        total:
          type: integer

    TokenRule:
      type: object
      properties:
        id:
          type: string
        serviceName:
          type: string
        actionType:
          type: string
        costPerUnit:
          type: integer
        unit:
          type: string
        description:
          type: string
        active:
          type: boolean
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time

    CreateTokenRuleRequest:
      type: object
      required: [serviceName, actionType, costPerUnit]
      properties:
        serviceName:
          type: string
        actionType:
          type: string
        costPerUnit:
          type: integer
        unit:
          type: string
          default: action
        description:
          type: string

    UpdateTokenRuleRequest:
      type: object
      properties:
        costPerUnit:
          type: integer
        description:
          type: string
        active:
          type: boolean

    BulkOperationResult:
      type: object
      properties:
        successCount:
          type: integer
        failureCount:
          type: integer
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              success:
                type: boolean
              error:
                type: string

    AuditLogEntry:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        userEmail:
          type: string
        action:
          type: string
        resource:
          type: string
        resourceId:
          type: string
        method:
          type: string
        path:
          type: string
        statusCode:
          type: integer
        requestBody:
          type: object
        responseBody:
          type: object
        ipAddress:
          type: string
        userAgent:
          type: string
        metadata:
          type: object
        createdAt:
          type: string
          format: date-time
